.left-panel{
	background: white;
	//border-style: solid;
	@include desde(tablet){
		border-right-width : 1px;
		border-right-style : solid;
		border-right-color : black; 	
	}
}
.right-panel{
	
	background: white;
	@include desde(tablet){
		border-left-width : 1px;
		border-left-style : solid;
		border-left-color : black;
	}
}
.linea{
	text-decoration : line-through;
}
.profile-block{
	display: flex;
	flex-wrap : wrap;
	flex-direction: column;
	padding-bottom:.7em;
}
.common-title{
	align-self : center;
	text-transform: uppercase;
	letter-spacing : 1px;
	@include desde(tablet){
		letter-spacing: 5px;
	}
}
.yo{
	@extend .profile-block;
	&__imagen{
		width:100px;
		border-radius : 50%;
		align-self : center;
	}
	&__nombre{
		padding-top: 10px;
		align-self :center;
		font-size : 1.3em;
		letter-spacing: 5px;
		font-family: Campton-Light;
		text-transform: uppercase;
	}
	&__apellido{
		align-self : center;
		padding-top: 10px;
		font-size : 1.7em;
		letter-spacing: 5px;
		font-family: Campton-Bold;
		text-transform: uppercase;
	}
	&__profesion{
		align-self : center;
		padding-top: 10px;
		font-size: .8em;
		color : $template-color;
		font-family: Campton-Bold;	
		letter-spacing: 6px;
		text-transform: uppercase;
	}
}
.perfil{
	@extend .profile-block;
	&__titulo{

		@extend .common-title;
		@include desde (tablet){
			padding-top :1em;
		}
	}
	&__descripcion{
		text-align : justify;
	}
}
.contacto{
	@extend .profile-block;
	&__titulo{
		@extend .common-title;
		padding-bottom : .5em;
		@include desde (tablet){
			padding-top :1em;
		}
		

	}
	&__forma{
		padding-bottom : .2em;
	}
}
.pskills{
	@extend .profile-block;
	
	&__titulo{
		@extend .common-title;
		margin-bottom: 5px;
		@include desde (tablet){
			padding-top :1em;
		}
	}
	&__container{
		display: flex;
		flex-wrap: wrap;
		&__skill{
			width : 100px;
			height: 100px;
			vertical-align: middle;
			background : $template-color;
			line-height: 100px;
			text-align: center;
			margin : .2em;
			border-radius : 50%;
			font-size: 12px;
			cursor : pointer;
			&:hover{
				font-size: 15px;
			}

		}	
	}
	
}
.educacion{
	@extend .profile-block;
	&__titulo{
		@extend .common-title;
		margin-bottom: 5px;
		@include desde (tablet){
			padding-top :1em;
		}

	}
	&__container{
		ul{
			list-style-type: circle;
			font-size: 1em;
			li{
				padding-bottom : 1em;
			}
				
		}
			
		&__nivel{
				display:flex;
				flex-wrap : wrap;
				flex-direction: column;
				margin-top : -1em;
				&__titulo{
					font-weight: bold;
					text-transform: uppercase;
					@include desde(tablet){
						letter-spacing: 5px;
					}
				}
				&__descripcion{
					font-weight: bold;
					text-align: justify;

				}

		}
	}
}
.profesional{
	@extend .profile-block;
	&__titulo{
		@extend .common-title;
		@include desde (tablet){
			padding-top :1em;
		}
	}
	&__container{
		@include desde(tablet){
			padding-left : 3em;
		}
		@include desde(web){
			padding-left : 5em;
		}
		@include desde(movil){
			padding-left : 3em;
		}
		&__skill{
			text-transform: uppercase;
			font-size: 10px;
			padding : 5px;
		}
	}
}
.progress{
	border : 1px solid black;
	border-radius : 4px;
	width : 160px;
	font-size : 10px;
	span{
		background-color : $template-color;

	}
}
.skill__titulo{
	width : 100px;
}
