/*Register my own font */
@font-face{
    font-family: 'Spelling-Night';
    src: url(../fonts/SpellingNight.ttf);
}
@font-face{
    font-family:'Sans-Thin';
    src: url(../fonts/UniSansThin.otf);
}
@font-face{
    font-family: 'Campton-Bold';
    src: url(../fonts/CamptonBold.otf);
}
@font-face{
    font-family: 'Campton-Light';
    src: url(../fonts/CamptonLight.otf);
}
@font-face{
	font-family: 'ImperioosaOut';
	src : url(../fonts/imperiosa/ImperioosaOutline.otf);
}